body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-31px;
  width:1852px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1852px;
  height:975px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:24px;
  width:1852px;
  height:975px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:480px;
  width:1848px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:118px;
  background:inherit;
  background-color:rgba(235, 248, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:296px;
  width:295px;
  height:118px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:51px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:92px;
  background:inherit;
  background-color:rgba(9, 9, 9, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:907px;
  width:225px;
  height:92px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:93px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:904px;
  width:256px;
  height:93px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
